@include mq("pc") {

	.u-pcnone {
		display: none !important;
	}

}

@media screen and (max-width: 768px) and (min-width: 561px) {

	.u-tabnone {
		display: none !important;
	}
}


@include mq("sp") {

	.u-spnone {
		display: none !important;
	}

}


.u-display_i{
	display: inline;
}

.u-display_b{
	display: block;
}

.u-display_ib{
	display: inline-block;
}
