@include mq("pc") {

	.u-pcnone {
		display: none !important;
	}

}

@media screen and (max-width: 768px) and (min-width: 561px) {

	.u-tabnone {
		display: none !important;
	}
}


@include mq("sp") {

	.u-spnone {
		display: none !important;
	}

}
